USE [master]
GO
/****** Object:  Database [BookStoreDB]    Script Date: 7/13/2026 12:48:26 PM ******/
CREATE DATABASE [BookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreDB', FILENAME = N'C:\Users\ADMIN\BookStoreDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreDB_log', FILENAME = N'C:\Users\ADMIN\BookStoreDB_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/13/2026 12:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 7/13/2026 12:48:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookCode] [nvarchar](50) NOT NULL,
	[ISBN] [nvarchar](30) NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[AuthorId] [int] NULL,
	[PublisherId] [int] NULL,
	[SellingPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinStock] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[StockNorth] [int] NOT NULL,
	[StockWest] [int] NOT NULL,
	[StockCentral] [int] NOT NULL,
	[PublishYear] [int] NULL,
	[PageCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BookList]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_BookList] AS SELECT b.Id, b.BookCode, b.ISBN, b.Title, b.PublishYear, b.PageCount, c.Id AS CategoryId, c.CategoryName, a.Id AS AuthorId, a.AuthorName, p.Id AS PublisherId, p.PublisherName, b.SellingPrice, b.Quantity, b.MinStock, CASE WHEN b.Quantity = 0 THEN N'Het hang' WHEN b.Quantity <= b.MinStock THEN N'Sap het' ELSE N'Con hang' END AS StockStatus, b.Description, b.ImagePath, b.IsActive, b.CreatedAt, b.UpdatedAt FROM Books b JOIN Categories c ON b.CategoryId = c.Id LEFT JOIN Authors a ON b.AuthorId = a.Id LEFT JOIN Publishers p ON b.PublisherId = p.Id;
GO
/****** Object:  Table [dbo].[SalesOrderDetails]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[LineTotal]  AS ([Quantity]*[UnitPrice]-[DiscountAmount]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Department] [nvarchar](100) NULL,
	[JoinDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[EmployeeId] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[IdentityNumber] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[OrderDate] [datetime2](7) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[OrderStatus] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalesOrderDetailFull]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.2 CHI TIET HOA DON
-- =========================
CREATE VIEW [dbo].[vw_SalesOrderDetailFull]
AS
SELECT 
    so.Id AS SalesOrderId,
    so.OrderCode,
    so.OrderDate,

    u.Id AS StaffId,
    u.FullName AS StaffName,

    c.Id AS CustomerId,
    c.FullName AS CustomerName,

    b.Id AS BookId,
    b.BookCode,
    b.Title,

    sod.Quantity,
    sod.UnitPrice,
    sod.DiscountAmount,
    sod.LineTotal,

    so.TotalAmount,
    so.PaymentMethod,
    so.OrderStatus,
    so.Note
FROM SalesOrders so
JOIN Users u ON so.UserId = u.Id
LEFT JOIN Customers c ON so.CustomerId = c.Id
JOIN SalesOrderDetails sod ON so.Id = sod.SalesOrderId
JOIN Books b ON sod.BookId = b.Id;
GO
/****** Object:  View [dbo].[vw_LowStockBooks]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.3 SACH SAP HET HANG
-- =========================
CREATE VIEW [dbo].[vw_LowStockBooks]
AS
SELECT 
    Id,
    BookCode,
    Title,
    Quantity,
    MinStock
FROM Books
WHERE Quantity <= MinStock
AND IsActive = 1;
GO
/****** Object:  View [dbo].[vw_DailyRevenue]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.4 DOANH THU THEO NGAY
-- =========================
CREATE VIEW [dbo].[vw_DailyRevenue]
AS
SELECT
    CAST(OrderDate AS DATE) AS RevenueDate,
    COUNT(*) AS TotalOrders,
    SUM(TotalAmount) AS TotalRevenue
FROM SalesOrders
WHERE OrderStatus = 'Completed'
GROUP BY CAST(OrderDate AS DATE);
GO
/****** Object:  View [dbo].[vw_TopSellingBooks]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.5 SACH BAN CHAY
-- =========================
CREATE VIEW [dbo].[vw_TopSellingBooks]
AS
SELECT
    b.Id AS BookId,
    b.BookCode,
    b.Title,
    SUM(sod.Quantity) AS TotalSold,
    SUM(sod.LineTotal) AS TotalRevenue
FROM SalesOrderDetails sod
JOIN SalesOrders so ON sod.SalesOrderId = so.Id
JOIN Books b ON sod.BookId = b.Id
WHERE so.OrderStatus = 'Completed'
GROUP BY b.Id, b.BookCode, b.Title;
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[UserId] [int] NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[ReferenceType] [nvarchar](30) NULL,
	[ReferenceId] [int] NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InventoryHistory]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.6 LICH SU KHO
-- =========================
CREATE VIEW [dbo].[vw_InventoryHistory]
AS
SELECT
    it.Id,
    b.Id AS BookId,
    b.BookCode,
    b.Title,
    u.Id AS StaffId,
    u.FullName AS StaffName,
    it.TransactionType,
    it.QuantityChange,
    it.ReferenceType,
    it.ReferenceId,
    it.Note,
    it.CreatedAt
FROM InventoryTransactions it
JOIN Books b ON it.BookId = b.Id
LEFT JOIN Users u ON it.UserId = u.Id;
GO
/****** Object:  View [dbo].[vw_SalesOrderList]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.7 DANH SACH HOA DON
-- =========================
CREATE VIEW [dbo].[vw_SalesOrderList]
AS
SELECT
    so.Id,
    so.OrderCode,
    so.OrderDate,
    u.Id AS StaffId,
    u.FullName AS StaffName,
    c.Id AS CustomerId,
    ISNULL(c.FullName, N'Khach le') AS CustomerName,
    so.TotalAmount,
    so.PaymentMethod,
    so.OrderStatus,
    so.Note
FROM SalesOrders so
JOIN Users u ON so.UserId = u.Id
LEFT JOIN Customers c ON so.CustomerId = c.Id;
GO
/****** Object:  Table [dbo].[PurchaseReceipts]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [nvarchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ImportDate] [datetime2](7) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PurchaseReceiptList]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =========================
-- 3.8 DANH SACH PHIEU NHAP
-- =========================
CREATE VIEW [dbo].[vw_PurchaseReceiptList]
AS
SELECT
    pr.Id,
    pr.ReceiptCode,
    pr.ImportDate,
    s.Id AS SupplierId,
    s.SupplierName,
    u.Id AS StaffId,
    u.FullName AS StaffName,
    pr.TotalAmount,
    pr.Note
FROM PurchaseReceipts pr
JOIN Suppliers s ON pr.SupplierId = s.Id
JOIN Users u ON pr.UserId = u.Id;
GO
/****** Object:  Table [dbo].[PurchaseReceiptDetails]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceiptDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseReceiptId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImportPrice] [decimal](18, 2) NOT NULL,
	[LineTotal]  AS ([Quantity]*[ImportPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 7/13/2026 12:48:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreCode] [nvarchar](50) NOT NULL,
	[StoreName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([Id], [AuthorName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (5, N'Fujiko F Fujio', NULL, 1, CAST(N'2026-07-08T14:56:56.8774372' AS DateTime2), NULL)
INSERT [dbo].[Authors] ([Id], [AuthorName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (6, N'Gosho Aoyama', NULL, 1, CAST(N'2026-07-08T14:56:56.8814573' AS DateTime2), NULL)
INSERT [dbo].[Authors] ([Id], [AuthorName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (7, N'Nguyễn Nhật Ánh', NULL, 1, CAST(N'2026-07-08T14:56:56.8867762' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [BookCode], [ISBN], [Title], [CategoryId], [AuthorId], [PublisherId], [SellingPrice], [Quantity], [MinStock], [Description], [ImagePath], [IsActive], [CreatedAt], [UpdatedAt], [StockNorth], [StockWest], [StockCentral], [PublishYear], [PageCount]) VALUES (1, N'BCF4E708CD0', N'9786042716086', N'Wistoria - Tập 1', 6, 9, 2, CAST(38000.00 AS Decimal(18, 2)), 19, 5, N'Sách được lấy tự động từ Fahasa.', N'book_1.jpg', 1, CAST(N'2026-07-10T13:13:52.4107009' AS DateTime2), CAST(N'2026-07-11T09:50:05.5141364' AS DateTime2), 10, 6, 3, NULL, NULL)
INSERT [dbo].[Books] ([Id], [BookCode], [ISBN], [Title], [CategoryId], [AuthorId], [PublisherId], [SellingPrice], [Quantity], [MinStock], [Description], [ImagePath], [IsActive], [CreatedAt], [UpdatedAt], [StockNorth], [StockWest], [StockCentral], [PublishYear], [PageCount]) VALUES (2, N'BC1199A5822', N'9786042712965', N'Dan Da Dan - Tập 6 - Tặng Kèm Special Cover', 6, 32, 2, CAST(74000.00 AS Decimal(18, 2)), 7, 5, N'Sách được lấy tự động từ Fahasa.', N'book_2.jpg', 1, CAST(N'2026-07-10T13:13:52.4223548' AS DateTime2), CAST(N'2026-07-11T09:50:03.7361521' AS DateTime2), 4, 2, 1, NULL, NULL)
INSERT [dbo].[Books] ([Id], [BookCode], [ISBN], [Title], [CategoryId], [AuthorId], [PublisherId], [SellingPrice], [Quantity], [MinStock], [Description], [ImagePath], [IsActive], [CreatedAt], [UpdatedAt], [StockNorth], [StockWest], [StockCentral], [PublishYear], [PageCount]) VALUES (3, N'BB08BA06E7E', N'9786042530858', N'Combo Manga - Wistoria - Tập 1', 6, 9, 2, CAST(140000.00 AS Decimal(18, 2)), 89, 5, N'Sách được lấy tự động từ Fahasa.', N'book_3.jpg', 1, CAST(N'2026-07-10T13:13:52.4321936' AS DateTime2), CAST(N'2026-07-11T09:50:03.0608250' AS DateTime2), 45, 27, 17, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Truyen tranh', N'Sach truyen tranh thieu nhi', 1, CAST(N'2026-07-08T14:19:21.4246939' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Van hoc thieu nhi', N'Sach van hoc danh cho thieu nhi', 1, CAST(N'2026-07-08T14:19:21.4246939' AS DateTime2), NULL)
INSERT [dbo].[Categories] ([Id], [CategoryName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'Sach giao duc', N'Sach hoc tap va giao duc', 1, CAST(N'2026-07-08T14:19:21.4246939' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [CustomerCode], [IdentityNumber], [IsActive]) VALUES (1, N'Khach le', NULL, NULL, NULL, CAST(N'2026-07-08T14:19:21.4634238' AS DateTime2), NULL, N'', NULL, 1)
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [CustomerCode], [IdentityNumber], [IsActive]) VALUES (2, N'Nguyen Minh Anh', N'0988888888', N'minhanh@example.com', N'Da Nang', CAST(N'2026-07-08T14:19:21.4634238' AS DateTime2), NULL, N'', NULL, 1)
INSERT [dbo].[Customers] ([Id], [FullName], [Phone], [Email], [Address], [CreatedAt], [UpdatedAt], [CustomerCode], [IdentityNumber], [IsActive]) VALUES (3, N'Le Hoang Nam', N'0977777777', N'hoangnam@example.com', N'TP.HCM', CAST(N'2026-07-08T14:19:21.4634238' AS DateTime2), NULL, N'', NULL, 1)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] ON 

INSERT [dbo].[InventoryTransactions] ([Id], [BookId], [UserId], [TransactionType], [QuantityChange], [ReferenceType], [ReferenceId], [Note], [CreatedAt]) VALUES (1, 67, 1, N'Sale', -1, N'SalesOrder', 2, N'Ban sach', CAST(N'2026-07-11T09:50:02.8137541' AS DateTime2))
INSERT [dbo].[InventoryTransactions] ([Id], [BookId], [UserId], [TransactionType], [QuantityChange], [ReferenceType], [ReferenceId], [Note], [CreatedAt]) VALUES (2, 433, 1, N'Sale', -2, N'SalesOrder', 3, N'Ban sach', CAST(N'2026-07-11T09:50:02.8281282' AS DateTime2))
INSERT [dbo].[InventoryTransactions] ([Id], [BookId], [UserId], [TransactionType], [QuantityChange], [ReferenceType], [ReferenceId], [Note], [CreatedAt]) VALUES (3, 360, 1, N'Sale', -3, N'SalesOrder', 3, N'Ban sach', CAST(N'2026-07-11T09:50:02.8301297' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([Id], [PublisherName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nha xuat ban Kim Dong', N'0240000000', N'kimdong@example.com', N'Ha Noi', 1, CAST(N'2026-07-08T14:19:21.4341306' AS DateTime2), NULL)
INSERT [dbo].[Publishers] ([Id], [PublisherName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'NXB Kim Đồng', NULL, NULL, NULL, 1, CAST(N'2026-07-08T14:56:56.8472254' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (1, N'Admin', N'Quan tri vien he thong')
INSERT [dbo].[Roles] ([Id], [RoleName], [Description]) VALUES (2, N'Staff', N'Nhan vien ban hang')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetails] ON 

INSERT [dbo].[SalesOrderDetails] ([Id], [SalesOrderId], [BookId], [Quantity], [UnitPrice], [DiscountAmount]) VALUES (1, 2, 67, 1, CAST(15000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetails] ([Id], [SalesOrderId], [BookId], [Quantity], [UnitPrice], [DiscountAmount]) VALUES (2, 3, 433, 2, CAST(46000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetails] ([Id], [SalesOrderId], [BookId], [Quantity], [UnitPrice], [DiscountAmount]) VALUES (3, 3, 360, 3, CAST(42000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrders] ON 

INSERT [dbo].[SalesOrders] ([Id], [OrderCode], [UserId], [CustomerId], [OrderDate], [TotalAmount], [PaymentMethod], [OrderStatus], [Note]) VALUES (1, N'SO-20250812193906-424a', 1, NULL, CAST(N'2025-08-12T19:39:06.0000000' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), N'Cash', N'Completed', N'Seeded Data')
INSERT [dbo].[SalesOrders] ([Id], [OrderCode], [UserId], [CustomerId], [OrderDate], [TotalAmount], [PaymentMethod], [OrderStatus], [Note]) VALUES (2, N'SO-20250824125234-f557', 1, NULL, CAST(N'2025-08-24T12:52:34.0000000' AS DateTime2), CAST(15000.00 AS Decimal(18, 2)), N'Cash', N'Completed', N'Seeded Data')
INSERT [dbo].[SalesOrders] ([Id], [OrderCode], [UserId], [CustomerId], [OrderDate], [TotalAmount], [PaymentMethod], [OrderStatus], [Note]) VALUES (3, N'SO-20250823161617-2652', 1, NULL, CAST(N'2025-08-23T16:16:17.0000000' AS DateTime2), CAST(218000.00 AS Decimal(18, 2)), N'Cash', N'Completed', N'Seeded Data')
GO
SET IDENTITY_INSERT [dbo].[SalesOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [SupplierName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Cong ty phat hanh sach Kim Dong', N'0241111111', N'supplierkimdong@example.com', N'Ha Noi', 1, CAST(N'2026-07-08T14:19:21.4387256' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt], [Department], [JoinDate], [Status], [EmployeeId]) VALUES (1, 1, N'admin', N'$2a$11$3ZJtsTof8sy.nZ0srZnwe.uJtKIKL3vOnirMFLUL81Llg5zAkTESC', N'Quan tri vien', N'0900000001', N'admin@bookstore.com', N'Ha Noi', 1, CAST(N'2026-07-08T14:19:21.4164488' AS DateTime2), CAST(N'2026-07-12T20:49:08.5907592' AS DateTime2), N'IT Operations', CAST(N'2021-09-22T00:00:00.000' AS DateTime), N'ACTIVE', N'#EMP-4481')
INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt], [Department], [JoinDate], [Status], [EmployeeId]) VALUES (2, 2, N'staff', N'$2a$11$CU/3gNAMvOhCgS3u8Aq3bOPc93iUm0bRcGr/KtafKgs6osbF364V6', N'Nhan vien ban hang', N'0900000002', N'staff@bookstore.com', N'Ha Noi', 1, CAST(N'2026-07-08T14:19:21.4164488' AS DateTime2), CAST(N'2026-07-12T14:48:00.2945615' AS DateTime2), N'Sales & Operations', CAST(N'2022-03-15T00:00:00.000' AS DateTime), N'ACTIVE', N'#EMP-2201')
INSERT [dbo].[Users] ([Id], [RoleId], [Username], [PasswordHash], [FullName], [Phone], [Email], [Address], [IsActive], [CreatedAt], [UpdatedAt], [Department], [JoinDate], [Status], [EmployeeId]) VALUES (3, 2, N'eleanor', N'hash', N'Eleanor Nash', NULL, N'eleanor.nash@bibliotech.io', NULL, 1, CAST(N'2026-07-11T10:42:34.6700000' AS DateTime2), NULL, N'Inventory Management', CAST(N'2018-10-12T00:00:00.000' AS DateTime), N'ACTIVE', N'#EMP-2049')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Authors__4A1A120BF3AC64D1]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[Authors] ADD UNIQUE NONCLUSTERED 
(
	[AuthorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__0A5FFCC7C514665C]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_AuthorId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_AuthorId] ON [dbo].[Books]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_BookCode]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_BookCode] ON [dbo].[Books]
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_CategoryId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_CategoryId] ON [dbo].[Books]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_PublisherId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_PublisherId] ON [dbo].[Books]
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Title]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_Title] ON [dbo].[Books]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Books_ISBN_NotNull]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Books_ISBN_NotNull] ON [dbo].[Books]
(
	[ISBN] ASC
)
WHERE ([ISBN] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0F4358F5B]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_BookId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_BookId] ON [dbo].[InventoryTransactions]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryTransactions_CreatedAt]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryTransactions_CreatedAt] ON [dbo].[InventoryTransactions]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Publishe__5F0E2249FAAF7C94]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[Publishers] ADD UNIQUE NONCLUSTERED 
(
	[PublisherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceiptDetails_BookId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceiptDetails_BookId] ON [dbo].[PurchaseReceiptDetails]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceiptDetails_PurchaseReceiptId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceiptDetails_PurchaseReceiptId] ON [dbo].[PurchaseReceiptDetails]
(
	[PurchaseReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Purchase__1AB76D00507C8D47]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[PurchaseReceipts] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceipts_ImportDate]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceipts_ImportDate] ON [dbo].[PurchaseReceipts]
(
	[ImportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseReceipts_SupplierId]    Script Date: 7/13/2026 12:48:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseReceipts_SupplierId] ON [dbo].[PurchaseReceipts]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160879D45B8]    Script Date: 7/13/2026 12:48:28 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderDetails_BookId]    Script Date: 7/13/2026 12:48:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderDetails_BookId] ON [dbo].[SalesOrderDetails]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrderDetails_SalesOrderId]    Script Date: 7/13/2026 12:48:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrderDetails_SalesOrderId] ON [dbo].[SalesOrderDetails]
(
	[SalesOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SalesOrd__999B5229DF299C43]    Script Date: 7/13/2026 12:48:29 PM ******/
ALTER TABLE [dbo].[SalesOrders] ADD UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_CustomerId]    Script Date: 7/13/2026 12:48:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_CustomerId] ON [dbo].[SalesOrders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_OrderDate]    Script Date: 7/13/2026 12:48:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_OrderDate] ON [dbo].[SalesOrders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_UserId]    Script Date: 7/13/2026 12:48:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_UserId] ON [dbo].[SalesOrders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Stores__02A384F885C74438]    Script Date: 7/13/2026 12:48:29 PM ******/
ALTER TABLE [dbo].[Stores] ADD UNIQUE NONCLUSTERED 
(
	[StoreCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__9C5DF66FEE1F288F]    Script Date: 7/13/2026 12:48:29 PM ******/
ALTER TABLE [dbo].[Suppliers] ADD UNIQUE NONCLUSTERED 
(
	[SupplierName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E49793F97A]    Script Date: 7/13/2026 12:48:29 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((5)) FOR [MinStock]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [StockNorth]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [StockWest]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [StockCentral]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('') FOR [CustomerCode]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  DEFAULT (sysdatetime()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[PurchaseReceipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[SalesOrderDetails] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (sysdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ('Cash') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ('Completed') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Stores] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Stores] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Books]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Users]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceiptDetails_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails] CHECK CONSTRAINT [FK_PurchaseReceiptDetails_Books]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceiptDetails_PurchaseReceipts] FOREIGN KEY([PurchaseReceiptId])
REFERENCES [dbo].[PurchaseReceipts] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails] CHECK CONSTRAINT [FK_PurchaseReceiptDetails_PurchaseReceipts]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReceipts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [FK_PurchaseReceipts_Users]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetails_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_SalesOrderDetails_Books]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderDetails_SalesOrders] FOREIGN KEY([SalesOrderId])
REFERENCES [dbo].[SalesOrders] ([Id])
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_SalesOrderDetails_SalesOrders]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Customers]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_MinStock] CHECK  (([MinStock]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_MinStock]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_Quantity]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Books_SellingPrice] CHECK  (([SellingPrice]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Books_SellingPrice]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_InventoryTransactions_Type] CHECK  (([TransactionType]='CancelSale' OR [TransactionType]='Adjustment' OR [TransactionType]='Sale' OR [TransactionType]='Import'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_InventoryTransactions_Type]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceiptDetails_ImportPrice] CHECK  (([ImportPrice]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails] CHECK CONSTRAINT [CK_PurchaseReceiptDetails_ImportPrice]
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceiptDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PurchaseReceiptDetails] CHECK CONSTRAINT [CK_PurchaseReceiptDetails_Quantity]
GO
ALTER TABLE [dbo].[PurchaseReceipts]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReceipts_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReceipts] CHECK CONSTRAINT [CK_PurchaseReceipts_TotalAmount]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_RoleName] CHECK  (([RoleName]='Staff' OR [RoleName]='Admin'))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_RoleName]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderDetails_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [CK_SalesOrderDetails_DiscountAmount]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderDetails_LineTotal] CHECK  ((([Quantity]*[UnitPrice]-[DiscountAmount])>=(0)))
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [CK_SalesOrderDetails_LineTotal]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [CK_SalesOrderDetails_Quantity]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrderDetails_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [CK_SalesOrderDetails_UnitPrice]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrders_OrderStatus] CHECK  (([OrderStatus]='Cancelled' OR [OrderStatus]='Completed'))
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [CK_SalesOrders_OrderStatus]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrders_PaymentMethod] CHECK  (([PaymentMethod]='Card' OR [PaymentMethod]='Banking' OR [PaymentMethod]='Cash'))
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [CK_SalesOrders_PaymentMethod]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [CK_SalesOrders_TotalAmount] CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [CK_SalesOrders_TotalAmount]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdjustBookStock]    Script Date: 7/13/2026 12:48:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   4. STORED PROCEDURE CHINH KHO THU CONG
   ============================================================ */

CREATE PROCEDURE [dbo].[sp_AdjustBookStock]
    @BookId INT,
    @UserId INT,
    @QuantityChange INT,
    @Note NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Books WHERE Id = @BookId)
    BEGIN
        RAISERROR (N'Sach khong ton tai.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Users WHERE Id = @UserId)
    BEGIN
        RAISERROR (N'Nguoi dung khong ton tai.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM Books
        WHERE Id = @BookId
          AND Quantity + @QuantityChange < 0
    )
    BEGIN
        RAISERROR (N'So luong dieu chinh lam ton kho bi am.', 16, 1);
        RETURN;
    END;

    UPDATE Books
    SET Quantity = Quantity + @QuantityChange,
        UpdatedAt = SYSDATETIME()
    WHERE Id = @BookId;

    INSERT INTO InventoryTransactions (
        BookId,
        UserId,
        TransactionType,
        QuantityChange,
        ReferenceType,
        ReferenceId,
        Note
    )
    VALUES (
        @BookId,
        @UserId,
        'Adjustment',
        @QuantityChange,
        'Manual',
        NULL,
        ISNULL(@Note, N'Dieu chinh ton kho thu cong')
    );
END;
GO
USE [master]
GO
